body{
    margin:0;
    padding:0;
    background:url(testfood.jpg);
    background-size:cover;
    /* box-sizing:border-box;
    display:flex;
    flex-direction: column; */
}
.contact-form{
    width:85%;
    max-width:650px;
    background:#f1f1f1;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:20px 30px;
    box-sizing:border-box;
    border-radius:8px;
    text-align:left;
    box-shadow:0 0 20px #000000b3;
}


.txtb{
    border:1px solid gray;
    margin:8px 0;
    padding:10px 15px;
    border-radius:8px;
}


.btn
{
    display:inline-block;
    background: #45ccb8;
    padding:14px 0;
    color:white;
    text-transform:uppercase;
    cursor:pointer;
    margin-top:8px;
    width:85%;
    border-radius:8px;
}